body {
    background: url("http://www.pxleyes.com/images/contests/tunnel-vision/fullsize/The-mine-shaft-4cb905a18652b_hires.jpg") no-repeat center center fixed;
    background-size: cover;
}
h1 {
    color: white;
}